.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    background-color: #F8F8FB;
   
}
  
.page-content > * {
    margin-bottom: 10px;
}

.page-button{
    background-color: #5BB043;
    color: white;
}

.main-heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 88px;
    font-family: 'Poppins', sans-serif;
    
    color: #495057;


}
.main-heading > * {
    margin-left: 10px;
    margin-right: 10px;
}

.heading-img{
    width: 72px;
}

h1, h2 {
    color: #495057;
    font-family: 'Poppins', sans-serif;
}
